@import "./../../assets/scss/theme.scss";
@import "./../../assets/scss/mixins.scss";
footer {
    background-color: $primary;
    padding: 20px 0px;
    color: $light;
}

.copyright {
    text-align: center;
    @include fluid-type-size(12px, 12px, $roboto-regular);
    @include mq(tablet-small, max) {
        text-align: center;
        margin-top: 15px;
    }
}

.container {
    justify-content: center;
}