$primary: #006E45;
$primary-shadow-dark: #008F4C;
$primary-shadow-light: #A5CE37;
$dark:#1E2023;
$dark-shadow-dark:#222428;
$dark-shadow-light:#1E2023;
$light: #fff;
$medium: #F5F6F9;
$secondary: #E32024;
// $intermediate: #655f5f;

$roboto-bold: Roboto-Bold;
$roboto-medium: Roboto-Medium;
$roboto-regular: Roboto-Regular;
$roboto-light: Roboto-Light;

$montserrat-bold: Montserrat-Bold;
$montserrat-medium: Montserrat-Medium;
$montserrat-regular: Montserrat-Regular;
$montserrat-light: Montserrat-Light;

$container: 1365px;

$btn-height: 35px;
$default-padding: 15px;
$item-padding: 5px;

$radius: 4px;

$opacity: rgba($dark, 0.2);

$gradient: linear-gradient(to right, #E32024, #FFD54C);
$shadow: 0px 9px 10px rgba(154, 154, 154, 0.5);

